/*-- scss:defaults --*/

//header
//$navbar-bg: $brand-indigo; //background, currently redundant
//$navbar-fg: $brand-lavender; //foreground, currently redundant

$navbar-hl: $brand-purple;


// footer
//$footer-bg: $brand-indigo; //background, currently redundant
$footer-fg: $brand-lavender; //foreground
$footer-hl: $brand-purple;


// body

/// links
$link-color: $brand-magenta;        // Standard link color
$link-hover-color: $brand-dark-magenta;  // Link hover color



// Adding space between letters of headings (Shrikhand)
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.05em; /*adjust letter spacing*/
}