/******
 LOGO
*******/

.navbar-brand-container {
 
  height: 72px !important;     /* Ensures consistency */
  width: 224px !important;
  padding: 0 !important;
  
}

a.navbar-brand.navbar-brand-logo{
  
  
  height: 48px !important;     /* Ensures consistency */
  width: 96px !important;
  padding: 0 !important;
  margin: 0 !important;

  
}

.navbar-logo {
  position: fixed;
  max-height: 60px !important;
  height: 60px !important;

  padding: 0 !important;
  margin: 0 !important;

}